input {
    width: 300px;
    height: 30px;
    margin-bottom: 0;
    padding-bottom: 11px;
    padding-top: 11px;
    background-color: #fff;
    border: 1px solid rgba(175, 185, 197, .36);
    border-radius: 4px;
    color: #161c34;
    font-size: 20px;
    line-height: 28px;
}
